{erl_opts,
  [
    debug_info
  ]
}.

{deps, [
  {e2qc,          {git, "git://github.com/project-fifo/e2qc.git",
                                                        {branch,  "master"}}},
  {erlsqlmigrate, {git, "https://github.com/hengestone/erlcqlmigrate.git",
                                                        {branch,  "master"}}}
]}.

{shell, [
  {apps, [
      protodb
   ]
  },
  {config, ["config/sys.config"]}
  ]
}.
