[
  {erlcass, [
      {log_level, 3},
      {cluster_options, [
          {contact_points, <<"127.0.0.1">>},
          {port, 9042},
          {latency_aware_routing, true},
          {token_aware_routing, true},
          {number_threads_io, 4},
          {queue_size_io, 128000},
          {max_connections_host, 5},
          {tcp_nodelay, true},
          {tcp_keepalive, {true, 1800}},
          {default_consistency_level, 6}
        ]
      }
    ]
  },
  {lager, [
      {log_root, "log"},
      {handlers, [
          {lager_console_backend, [{level, debug},
                                  {formatter, lager_default_formatter},
                                  {formatter_config, [time, color, " [",severity,"] ", message, "\e[0m\r\n"]}
                                  ]
          },
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]
      }
    ]
  },
  {protodb, [
      {pgsql_config, [{user, "dbuser"}]},
      {migrations,   "migrations"}
    ]
  },
].
